{% extends 'base.html' %} {% load static %} {% block content %}

<body background="https://c8.alamy.com/comp/BX1J72/mathare-slums-nairobi-kenya-BX1J72.jpg">

    <center>
        <p>
            <font size="20">WELCOME</font>
        </p>

        <p>
            <font size="20">NYUMBA KUMI INISIATIVE</font>
        </p>
        </a>


</body>

<div class="container-full banner content">
    <div class=" overlaybanner text-center ">
        <div class="row">
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
</div>

</section>
{% endblock %}